<div class="mt-4">
    <form method="post">
        <div class="mb-3">
            <label for="search_input" class="form-label">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="search_input" placeholder="Nhap tu khoa...">
        </div>
        
        <div class="mb-3">
            <label for="search_input" class="form-label">Tu khoa</label>
            <select name="gender" class="form-control" id="gender_input">
                <option value="">Chon gioi tinh</option>
                <option value="">Nam</option>
                <option value="">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>